/**
 * @file layout.scss
 * @author deo
 *
 * 布局相关
 *
 */

.box-center {
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

/* 强制换行 */
.word-content {
    word-wrap: break-word;
}