@import "../../src/common/css/global.scss";

$height: 40px;

.tab {
    @include border-1px('bottom');

    position: relative;
    height: $height;
    overflow: hidden;
    user-select: none;
    background: #fff;

    ul {
        position: absolute;

        li:not(:first-child) {
            @include border-1px('left');
        }

        li {
            float: left;
            text-align: center;
            height: $height;
            line-height: $height;
            color: #666;

            &.tab-active {
                color: #000;
                background: #eee;
            }
        }
    }
}

.content, .tab-content {
    padding: 10px;
}
#content {
    height: 200px;
}

.tab-border-all {
    @include border-1px('all');
}

#tab-slide {
    position: relative;
    z-index: 999;
}