body {
    background: #ccc;
    font-size: 12px;
    margin: 0;
}
.loader-wrapper {
    background: #fff;
}
.list {
    border-bottom: 1px solid #eee;
    padding: 30px 10px;
}

.error {
    padding: 50px;
    text-align: center;
}