// @import '../common/css/global.scss';

body {
    font-size: 12px;
    margin: 0;
}
.loader-wrapper {
    background: #fff;
}
.list {
    border-bottom: 1px solid #eee;
    padding: 30px 10px;
}

.error {
    padding: 50px;
    text-align: center;
}

.bar {
    padding: 0;
    background: #e7f5e2;

    a {
        display: inline-block;
        padding: 10px 10px;
    }
}

.loading {
    // @include loading(40px, 2px);

    z-index: 99;
}

.otherContent {
    position: relative;
    z-index: 10;
}